In [1]:
import pandas as pd

In [2]:
directors = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz', compression = 'gzip')

In [3]:
directors.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [4]:
directors['primary_profession'] = directors['primary_profession'].str.split(',').tolist()
directors = directors.dropna(subset = ['primary_profession'])

In [5]:
def is_director(dir_list):
    if 'director' in dir_list:
        return True;
    else:
        return False;

directors['is_director'] = directors['primary_profession'].apply(is_director)

In [6]:
directors = directors.loc[directors['is_director']==True]

In [7]:
directors['known_for_titles'] = directors['known_for_titles'].str.split(',').tolist()
directors.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,is_director
5,nm0062879,Ruel S. Bayani,NaN,NaN,"[director, production_manager, miscellaneous]","[tt2590280, tt0352080, tt0216559, tt2057445]",True
10,nm0064023,Bryan Beasley,NaN,NaN,"[director, producer, writer]","[tt3501180, tt1485100, tt1358897, tt1387162]",True
15,nm0066163,Arnaud Bedouët,NaN,NaN,"[actor, writer, director]","[tt1355327, tt1977735, tt0173525, tt1710520]",True
16,nm0066268,Steve Mitchell Beebe,NaN,NaN,"[editorial_department, director, editor]","[tt0827928, tt0119961, tt0408417, tt5521860]",True
21,nm0068170,Dylan Bell,NaN,NaN,"[director, actor, producer]","[tt4655766, tt3180116, tt8170168, tt4082762]",True

In [8]:
directors['known_for_titles'] = directors['known_for_titles'].fillna(0);

In [9]:
name_info = pd.read_csv('data/zippedData/imdb.title.akas.csv.gz', compression = 'gzip')
name_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

In [10]:
name_info = name_info.loc[name_info['is_original_title'] == 1]

In [11]:
from bs4 import BeautifulSoup
import requests

In [12]:
def scrape(id_list):
    out = []
    for i in id_list:
        url = f'https://www.imdb.com/title/{i}/'
        response = requests.get(url);
        soup = BeautifulSoup(response.text, 'lxml')
        title = soup.find('h1',class_='TitleHeader__TitleText-sc-1wu6n3d-0 dxSWFG');
        out.append(title.text)
    return out
print(scrape(['tt2590280', 'tt0352080', 'tt0216559', 'tt2057445']))

['One More Try', 'Mula sa puso', 'Babae', 'No Other Woman']

In [46]:
directors_title_first = pd.read_csv('data/zippedData/imdb.name.basics.csv.gz', compression = 'gzip')
directors_title_first['primary_profession'] = directors_title_first['primary_profession'].str.split(',').tolist()
directors_title_first = directors_title_first.dropna(subset = ['primary_profession'])
directors_title_first['known_for_titles'] = directors_title_first['known_for_titles'].str.split(',').tolist()

In [47]:
def is_director(dir_list):
    if 'director' in dir_list:
        return True;
    else:
        return False;

directors_title_first['is_director'] = directors_title_first['primary_profession'].apply(is_director)

In [48]:
directors_title_first = directors_title_first.loc[directors_title_first['is_director']==True]

In [53]:
directors_title_first = directors_title_first.head(2)


directors_title_first

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,is_director
5,nm0062879,Ruel S. Bayani,NaN,NaN,"[director, production_manager, miscellaneous]","[tt2590280, tt0352080, tt0216559, tt2057445]",True
10,nm0064023,Bryan Beasley,NaN,NaN,"[director, producer, writer]","[tt3501180, tt1485100, tt1358897, tt1387162]",True

In [52]:
directors_title_first['title_list'] = directors_title_first['known_for_titles'].apply(scrape)

AttributeError: 'NoneType' object has no attribute 'text'

In [45]:
directors_title_first

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles,is_director,title_list
5,nm0062879,Ruel S. Bayani,NaN,NaN,"[director, production_manager, miscellaneous]","[tt2590280, tt0352080, tt0216559, tt2057445]",True,"[One More Try, Mula sa puso, Babae, No Other W..."